<div class="container">
    <h2>Nutrition<br><app-stars [n]="food.nutrition"></app-stars></h2>
    <h4>{{food.name}}</h4>
    <p>
        <span *ngIf="food.vegetarian">
            <i class="fa fa-leaf text-success"></i>
            Vegetarian
        </span>
    </p>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button
                          class="btn btn-link"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne">
                        {{food.benefits.length}} Health Benefit{{food.benefits.length === 1 ? '' : 's'}}
                    </button>
                </h5>
            </div>
            <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li *ngFor="let benefit of food.benefits">{{benefit}}</li>
                    </ul>
                </div>
            </div>
        </div><!--/.card-->

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo">
                        {{food.risks.length}} Health Risk{{food.risks.length === 1 ? '' : 's'}}
                    </button>
                </h5>
            </div>
            <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li *ngFor="let risk of food.risks">{{risk}}</li>
                    </ul>
                </div>
            </div>
        </div><!--/.card-->

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button
                          class="btn btn-link collapsed"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree">
                        {{food.allergens.length}} Allergen{{food.allergens.length === 1 ? '' : 's'}}
                    </button>
                </h5>
            </div>
            <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li *ngFor="let allergen of food.allergens">{{allergen}}</li>
                    </ul>
                </div>
            </div>
        </div><!--/.card-->

        <div class="card">
            <div id="headingFour" class="card-header">
               <h5 class="mb-0">
                    <button
                          class="btn btn-link collapsed"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour">
                        {{food.ingredients.length}} Ingredient{{food.ingredients.length === 1 ? '' : 's'}}
                    </button>
                </h5>
            </div>
            <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="headingFour"
                  data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li *ngFor="let ingredient of food.ingredients">{{ingredient}}</li>
                    </ul>
                </div>
            </div>
        </div><!--/.card-->

    </div><!--/.accordion-->
</div><!--/.container-->
