<div class="container">
	<table class="table" id="comparison-table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">{{a.name}}</th>
				<th scope="col">{{b.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td><img [src]="a.img" [alt]="a.alt"></td>
				<td><img [src]="b.img" [alt]="b.alt"></td>
            </tr>
			<tr>
				<th scope="col">Serving Size</th>
				<td>{{a.servingsize}}</td>
				<td>{{b.servingsize}}</td>
			</tr>
            <tr app-comprow [a]="a.calories" [b]="b.calories" [name]="'Calories'"></tr>
            <tr app-comprow [a]="a.fatcalories" [b]="b.fatcalories" [name]="'Fat Calories'"></tr>
            <tr app-comprow [a]="a.satfat" [b]="b.satfat" [unit]="'g'" [name]="'Saturated Fat'"></tr>
            <tr
                app-comprow [a]="a.sodium" [b]="b.sodium" [unit]="'mg'" [name]="'Sodium'"
                class="border-bottom"></tr>
			<tr>
				<th scope="col" class="bottom-border">Artificial flavors, synthetic colors, preservatives</th>
				<td class="table-danger bottom-border">Yes</td>
				<td class="table-success bottom-border">No</td>
			</tr>
			<tr>
				<th scope="col">Non-GMO Project verified</th>
				<td>No</td>
				<td class="table-success">Yes</td>
			</tr>

			<tr>
				<th scope="col">Organic</th>
				<td>No</td>
				<td class="table-success">Yes</td>
			</tr>
			<tr>
				<th scope="col">Good animal ethics</th>
				<td>N/A</td>
				<td class="table-success">Yes</td>
			</tr>
		</tbody>
	</table>
	<br>
</div>
<nav class="navbar fixed-bottom justify-content-center bg-light">
  <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
  <a class="nav-link disabled" href="#"><i class="fa fa-heart"></i></a>
  <a
        class="nav-link disabled"
        routerLink="/compare">
      <i class="fa fa-balance-scale"></i>
  </a>
</nav>
