<div class="container">
    <h2>Ingredients</h2>
    <h4>{{food.name}}</h4>

    <hr>

    <h4>Summary</h4>
    <ul>
        <li>Not a natural source of protein</li>
        <li>Highly processed</li>
        <li>No whole grains</li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Where from?</th>
                <th>What for?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>blanched wheat flour</td>
                <td>wheat</td>
                <td>forms noodles</td>
            </tr>
            <tr>
                <td>whey</td>
                <td>dairy byproduct</td>
                <td>base of cheese sauce</td>
            </tr>
            <tr>
                <td>milk protein concentrate</td>
                <td>milk</td>
                <td>fortifies cheese sauce</td>
            </tr>
            <tr>
                <td>sodium tripolyphosphate</td>
                <td><i>Not available</i></td>
                <td><i>Not available</i></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
</div>
