<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/overview"
        class="nav-link">Overview</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/health"
        class="nav-link">Health</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/environment"
        class="nav-link">Environment</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/ingredients"
        class="nav-link">Ingredients</a>
  </li>
</ul>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom justify-content-center bg-light">
  <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
  <a class="nav-link disabled" href="#"><i class="fa fa-heart"></i></a>
  <a class="nav-link disabled" href="#"><i class="fa fa-balance-scale"></i></a>
</nav>
