ul.nav {
	margin-bottom: 1em;
	list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size:0.7em;
}

btn {
	background-color: #0D2C54;
}


nav {
    font-size: 1.7em;
}


#nav-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
}

#util-buttons {
	margin-top: 1em;
	margin-bottom: 0.3em;
	width:100%;
	text-align: center;

}

.navbar-light {
	background-color: #D6E6C6;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited, .btn-info:focus {
    background-color: #0D2C54 !important;
    border-color: #0D2C54 !important;
}
