<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/overview"
        class="nav-link">Overview</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/health"
        class="nav-link">Health</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/environment"
        class="nav-link">Environment</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/ingredients"
        class="nav-link">Ingredients</a>
  </li>
  <li class="nav-item">
      <a class="btn btn-info" style="color:white" (click)="compare(food.id)">+ compare</a>
  </li>
</ul>

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom justify-content-center bg-light">
  <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
  <a class="nav-link disabled" href="#"><i class="fa fa-heart"></i></a>
  <a
        class="nav-link disabled"
        [routerLink]="['/compare', queue[0], queue[1]]">
      <i class="fa fa-balance-scale"></i>
  </a>
</nav>
