<ul class="nav navbar sticky-top navbar-light bg-light">
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/overview"
        class="nav-link theme-color">Overview{{queue|json}}</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/health"
        class="nav-link theme-color">Health</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/environment"
        class="nav-link theme-color">Environment</a>
  </li>
  <li class="nav-item">
    <a
        routerLinkActive="active"
        routerLink="/dashboard/{{food.id}}/ingredients"
        class="nav-link theme-color">Ingredients</a>
  </li>
</ul>
<div class="btn-toolbar justify-content-center" role="toolbar" id="util-buttons">
  <div class="btn-group mr-2" role="group">
      <a class="btn btn-sm" style="color:white" (click)="compare(food.id)"
        [ngClass]="queue.includes(food.id) ? 'btn-success' : 'btn-info'">+ compare</a>
  </div>
  <div class="btn-group mr-2" role="group">
      <a class="btn btn-info btn-sm" style="color:white">+ favorite</a>
  </div>
</div>

<router-outlet></router-outlet>

<nav class="nav navbar-fixed-bottom justify-content-center bg-light" id="nav-footer">
  <a class="nav-link" href="#"><i class="fa fa-search theme-color"></i></a>
  <a class="nav-link disabled" href="#"><i class="fa fa-heart theme-color"></i></a>
  <a
        class="nav-link disabled"
        [routerLink]="['/compare', queue[0], queue[1]]">
      <i class="fa fa-balance-scale theme-color"></i>
  </a>
</nav>
