.container {
    color: white;
}

.page-header {
    font-weight: bold;
    margin-top: 2em;
}

.page-header h1 {
    font-size: 7em;
}

.page-header p {
    font-size: 2em;
}

input {
    margin-bottom: 1em;
}

form {
    margin-bottom: 1em;
}

div.alert p {
    margin-bottom: 0;
}
