<div class="container">
    <h2>Environment<br><app-stars [n]="food.environment"></app-stars></h2>
    <h4>{{food.name}}</h4>

    <table class="table">
        <tr>
            <td>
                <i class="fa fa-tint"></i>
            </td>
            <td>
                5 gallons / box
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-square-o"></i>
            </td>
            <td>
                4 potential farming concerns
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-truck"></i>
            </td>
            <td>
                sourced from America
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-heart"></i>
            </td>
            <td>
                No animal concerns
            </td>
        </tr>
    </table>
</div>
