<div class="container-fluid">
    <header>
        <h1>Kraft Mac & Cheese</h1>
        <p>Product Code: <b>1234</b></p>
    </header>

    <hr>

    <div class="img-frame">
        <img [src]="PIC" alt="">
    </div>

    <br>

    <table class="table table-striped">
        <tr>
          <td>Nutrition</td>
          <td>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
          </td>
        </tr>
        <tr>
          <td>Environment</td>
          <td>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
          </td>
        </tr>
        <tr>
          <td>Convenience</td>
          <td>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
          </td>
        </tr>
    </table>

    <hr>

    <h2>Description</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque at sem id dignissim. Nunc sit amet elementum lectus. Phasellus vel enim eu dui porta facilisis. Integer pretium sed velit vel varius. Maecenas arcu sem, sollicitudin id faucibus at, bibendum non libero. Duis eu gravida massa. Duis ornare non purus sed ultrices.
    </p>

    <h2>Where to Find</h2>
    <p>
        Morbi pharetra erat ut nibh auctor, sit amet fringilla erat gravida. Sed feugiat turpis est, quis iaculis est gravida in. Aenean egestas at mi quis ultrices. Nunc elit leo, venenatis nec elit non, bibendum imperdiet justo. Nunc aliquet, dui vitae mollis porttitor, elit neque congue quam, finibus interdum massa ex non libero. Integer tristique consequat quam sed imperdiet. Sed semper sollicitudin vehicula.
    </p>

    <br>
    <br>
    <br>
    <br>

</div>
