<div class="container-fluid">
    <header>
        <h1>{{food.name}}</h1>
<!--         <p>Product Code: <b>{{food.code}}</b></p> -->
    </header>

    <hr>

    <div class="img-frame">
        <img class="img-responsive" [src]="food.img" [alt]="food.alt">
    </div>

    <br>

    <table class="table table-striped">
        <tr>
          <td>Nutrition</td>
          <td><app-stars [n]="food.nutrition"></app-stars></td>
        </tr>
        <tr>
          <td>Environment</td>
          <td><app-stars [n]="food.environment"></app-stars></td>
        </tr>
        <tr>
          <td>Convenience</td>
          <td><app-stars [n]="food.convenience"></app-stars></td>
        </tr>
    </table>

    <hr>

    <h2>Description</h2>
    <p>{{food.description}}</p>

    <h2>Where to Find</h2>
    <p>{{food.where}}</p>

    <br>
    <br>
    <br>
    <br>

</div>
